* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body{
    height: 100%;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
}

/*Header*/

h1{
    font-size: 5.5rem;
    font-weight: 700;
}

#header-row{
    padding-top: 20vh;
    padding-bottom: 20vh;
}

#header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


#intro {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10vh;
    padding-bottom: 10vh;
    padding-top: 10vh;
}

/*About Me*/

#Profile {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15vh;
}

#about-me {
    font-size: 5.5em;
    margin-bottom: 10vh;
}

#about-info{
    margin-top: 4vh;
}

#tyler {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    margin-right: 5vh;
}

/*Projects*/

.projects {

}
#work{
    height: 70vh;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
}

h2{
    font-size: 4.5em;
}

/*Contact*/

#contact {
    height: 40vh;
}

.mb-3{
    padding-left: 2vh;
    padding-right: 2vh;
}

.g-recaptcha{
    padding-left: 2vh;
}

.contact-button{
    padding-left: 2vh;
}

.contact-wrapper {
    border-radius: 5px;
    margin-top: 3em;
    margin-bottom: 3em;
    background-color: white;
    z-index: 10;
    position: relative;
    height: 57vh;
}

.contact-header {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding-top: 1em;
}

.contact-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 15vh;
    padding-left: 15vh;
    font-size: 1.5em;
}

#list1{
    margin-bottom: 5vh;
}

#list2{
    margin-bottom: 5vh;
}

.row2{
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
}

/*Footer*/

#footer-text{
    color: white;
}